<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--	<add name ="GIS2000" connectionString="Data Source=IGOR-LAPTOP; Initial Catalog=GIS2000; Trusted_Connection=True"/> -->
		<!-- <add name="GIS2000" connectionString="Data Source=GIS-KS-SQL\GIS;Initial Catalog=GIS2000;  UID=GIS2000;Password=GIS2000"/>-->
	</connectionStrings>
</configuration>